{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<form  method="post" action="{{ url_for('search.search') }}">
<div class="row d-flex justify-content-center align-items-center"  style="height: {{ search_height }};">
        <div class="col-md-6">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" name="query" id="searchbox" class="form-control" />
                    <label class="form-label" for="searchbox">Search</label>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>



{% endblock %}